<!DOCTYPE html  >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>设置账号信息</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link  href="/css/weui.min.css" rel="stylesheet">
    <link  href="/css/jquery-weui.min.css" rel="stylesheet">
    <link  href="/css/master.css" rel="stylesheet">
</head>
<body ontouchstart>

        <div id="header" class="top-back">
            <span class="top-bar-title">设置账号信息</span>
        </div>

        <form method="post" action="" autocomplete="off" >
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">姓名</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text"  placeholder="请输入姓名">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">身份证号</label>
                    </div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="number" placeholder="身份证号">
                    </div>
                </div>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <div class="weui-btn-area">
                 <input type="submit" value="提交" class="weui-btn weui-btn_warn">
            </div>
        </form>



        <div class="weui-tabbar">
            <a href="/loan-application" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="/img/clock.png" alt="">
                </div>
                <p class="weui-tabbar__label">贷款申请</p>
            </a>
            <a href="/loan/loan-history.do" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="/img/table.png" alt="">
                </div>
                <p class="weui-tabbar__label">我的贷款</p>
            </a>
            <a href="/account-center" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="/img/people.png" alt="">
                </div>
                <p class="weui-tabbar__label">个人中心</p>
            </a>
        </div>

<!-- body 最后 -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-weui.min.js"></script>
</body>
</html>