<!DOCTYPE html  >
<html>
<head>
    <meta charset="UTF-8">
    <title>账号信息</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link  href="/css/weui.min.css" rel="stylesheet">
    <link  href="/css/jquery-weui.min.css" rel="stylesheet">
    <link  href="/css/master.css" rel="stylesheet">
</head>
<body ontouchstart>


        <div id="header" class="top-back">
            <span class="top-bar-title">账号信息</span>
        </div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>姓名</p>
                </div>
                <div class="weui-cell__ft">张三</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>身份证号</p>
                </div>
                <div class="weui-cell__ft">5001231980****1234</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>手机号码</p>
                </div>
                <div class="weui-cell__ft">138****1234</div>
            </div>
            <a href="/account-setting" class="weui-btn weui-btn_warn">设置账号信息</a>
        </div>


        <div class="weui-tabbar">
            <a href="/loan-application" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="/img/clock.png" alt="">
                </div>
                <p class="weui-tabbar__label">贷款申请</p>
            </a>
            <a href="/loan/loan-history.do" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="/img/table.png" alt="">
                </div>
                <p class="weui-tabbar__label">我的贷款</p>
            </a>
            <a href="/account-center" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="/img/people.png" alt="">
                </div>
                <p class="weui-tabbar__label">个人中心</p>
            </a>
        </div>

<!-- body 最后 -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-weui.min.js"></script>
</body>
</html>