<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="navibar">
    <div class="weui-tabbar">
        <a href="/loan/loan-progress.do" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <img src="/img/clock.png" alt="">
            </div>
            <p class="weui-tabbar__label">申请进度</p>
        </a>
        <a href="/loan/loan-history.do" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <img src="/img/table.png" alt="">
            </div>
            <p class="weui-tabbar__label">我的贷款</p>
        </a>
        <a href="/account-center" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <img src="/img/people.png" alt="">
            </div>
            <p class="weui-tabbar__label">个人中心</p>
        </a>
    </div>
</div>
</body>
</html>