<!DOCTYPE html  >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>贷款申请</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link  href="/css/weui.min.css" rel="stylesheet">
    <link  href="/css/jquery-weui.min.css" rel="stylesheet">
    <link  href="/css/master.css" rel="stylesheet">
</head>
<body ontouchstart>

        <div id="header" class="top-back">
            <span class="top-bar-title">贷款申请</span>
        </div>
        <p></p>
        <form method="post" action="" autocomplete="off" >
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label"></label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text"  value="提交信息后,客服人员将会与您联系,为您及时办理贷款" >
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">需求额度</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" name="demandAmount" placeholder="请输入需求额度">
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd">
                        <label class="weui-label">贷款类型</label>
                    </div>
                    <div class="weui-cell__bd">
                        <select class="weui_select" name="select1">
                            <option selected="" value="1">个人信用贷款</option>
                            <option value="2">车贷</option>
                            <option value="3">房产抵押贷款</option>
                        </select>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">其他备注</label></div>
                    <div class="weui-cell__bd">
                        <textarea class="weui-textarea" placeholder="请输入备注" ></textarea>
                    </div>
                </div>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <div class="weui-btn-area">
                 <input type="submit" value="提交" class="weui-btn weui-btn_warn">
            </div>
        </form>




        <div th:include="common:: #navibar" th:remove="tag"></div>

<!-- body 最后 -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-weui.min.js"></script>
</body>
</html>